img{
    width: 200px !important;
    height: 200px !important;
    border-radius: 10px !important;
}
video{
    width: 200px !important;
    height: 200px !important;
    border-radius: 10px !important;
}